.intervalButton{
	padding: 30px;
}
td{
    cursor:pointer;
    background: lightgray;
/*    background: -moz-linear-gradient(top, #ffffff, #D1E3E9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#D1E3E9));*/
    text-align:center;
}
 
td:hover{
    background: #f79382;
/*    background: -moz-linear-gradient(top, #249ee4, #057cc0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#249ee4), to(#057cc0));*/
}
 
td:active
{
    background: #F4654D;
/*    background: -moz-linear-gradient(top, #057cc0, #249ee4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#057cc0), to(#249ee4));*/
}
#replay{
    margin-right: auto;
    margin-left: auto;
}
#intervals{
    border-spacing: 150px;
    cursor: pointer; 
    margin-left:auto; 
    margin-right: auto
}

/*#score{
    font-size: 24px;
    float:right; 
    margin-top: 50px;
}*/