#mainBox{
    display:block;
    background-color: #f79382;
    border-radius: 2px;
    color: #fff;
    font-size: 15pt;
    outline: 0;
    border: 0;
    margin: 15px;
    transition:background-color 0.3s ease; 
    height: 250px;
}

#mainBox:hover{
    background-color: #f5745e;
}