body {
	background-image: url('../images/greyzz.png');
}

#navigation {
	color: #89949B;
	background-color: #fff;
}

#navigation li>a {
	color: #89949B;
	font-size: 100%;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	padding-top: 5px;
	padding-bottom: 5px;
}

#navigation li.active>a{
	color: #F4654D;
	background-color: #fff;
}

#navigation a.navbar-brand {
	background-color: #F4654D;
	color: #f8f8f8;
	font-family: 'IM Fell DW Pica', serif;
	font-size: 28px;
}

.container {
	background-color: #fff;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 100px;
	border: 1px solid #e8e8e8;
}

#navigation .container { border: none; padding-top: 0; padding-bottom: 0;}

.row .started-heading {
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
.started-heading:hover{
	text-decoration: none;
}

.well {
	background-color: #fff;
}

.jumbotron {
	background-color: #fff;
}

.getting-started {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.homepage-title {
	margin-top: 0px;
	margin-bottom: 25px;
}

.started-heading{
	text-align: center;
	margin: 10px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.exercise {
	height: 300px;
}

.exercises-title {
	text-align: center;
	margin-bottom: 20px;
}

.exercise-row h3 {
	margin-top: 33%;
	text-align: center;
}

.getting-started h1 {
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.getting-started .intro{
	width: 800px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 110%;
	line-height: 180%;
}

.question {
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	line-height: 180%;
	font-size: 110%;
}

.question-title {
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 20px;
}

.answer-part {
	margin-top: 30px;
}

.sources {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-size: 12px;
}

#mainBox{
    display:block;
    background-color: #f79382;
    border-radius: 2px;
    color: #fff;
    font-size: 15pt;
    outline: 0;
    border: 0;
    margin: 15px;
    transition:background-color 0.3s ease; 
}

#mainBox:hover{
    background-color: #f5745e;
}
a.main-action-link:hover{	
	text-decoration: none;
}



