.karaoke-type-upcoming {
    color: #999999;
}
.karaoke-type-ready {
    color: #058359;
}
.karaoke-type-instrumental {
    color: #065BC4;
}
.karaoke-display {
    padding: 0 0 10px 0;
}
.karaoke-overlay {
    color: #FF0000;
    font-weight: normal;
    text-decoration: underline;
}

.song-info {
	color: #8E8CA3;
    color: #555;
    line-height: 24px;
    font-size: 14pt;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.icon {
	display: block;
	padding: 5px 8px;
	background: #e6effa;
	border: 1px solid #bdd0e8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#loading-dialog{
	padding:20px;
	border:3px solid #e8e8e8;
}

#player{
	padding:20px;
	border:2px solid #e8e8e8;
	border-radius: 4px;
}

#karaoke-display{
	font-size:200%;
	text-align:center;
}

#controls{}

#buttons{
	float:left;
}

#status{
	float:right;
	padding:6px 0 0 0;
}

#scrubber-container{
	padding:7px 10px 0 10px;
}

.icon:hover {
	background: #f4f8fd;
}

.record-icon:before {
	content: url(images/buttons/record.png);
	display: block;
	float: left;
	margin-right: 5px;
	position: relative;
	bottom: 2px;
}

#recording-signal {
	font-size: 12px;
	text-align: right;
	display: none;
}

#recording-icon {
	display: inline-block;
	background: #f00;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-align: right;
}

.stop-icon {
	background-image: url("images/buttons/stop.png");
}

#feedback_box {
	text-align: center;
	width: 100%;
	border: 2px solid #e8e8e8;
}

#feedback {
	padding: 0;
	margin: auto;
	display: inline;
}