
.audiojs{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.play-pause{
    width: 35px !important;
}

.scrubber{
    width: calc(100% - 170px) !important;
}

.modal-dialog {
    width: 90% !important;
}
#song_chart{
    width: 90%;
    margin: 40px auto;
}

#song_line{
    height: 358px;
    width: 2px;
    position:absolute;
    background-color: black;
    top: 45px;
    display: none;
}

em{
    font-style: normal;
    font-weight: bold;
    color: #A9C2C9;
}

.green{
    color: #8AE876;
}

.red{
    color: #FA808C;
}

#song_results h1, .modal-title{
    font-size: 20pt;
    margin: 0 10px 10px 10px;
    color: #8E8CA3;
}

#comments_list{
    font-size: 14pt;
    list-style-type: square;
}

#comments_section{
    float:left;
    margin-left: 40px;
    vertical-align: top;
}

#buttons_section a:hover{
    text-decoration: none;
}

#buttons_section{
    float: right;
    vertical-align: top;
    padding: 20px;
    margin-right: 50px;
}

#buttons_section button{
    display:block;
    width: 200px;
    height: 50px;
    background-color: #C5F7F0;
    border-radius: 2px;
    color: #72577C;
    font-size: 15pt;
    outline: 0;
    border: 0;
    margin: 15px;
    transition:background-color 0.3s ease;
}

#buttons_section button:hover{
    background-color: #B1DED8;
}

#comments_container{
    height: 180px;
}
