.progress_section {
    margin: 30px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 10px solid #C5F7F0;
    position: relative;
}

.progress_section h1 {
    font-size: 20pt;
    margin: 0;
    color: #8E8CA3;
}

/* start progress achievements section */

.achievement {
    margin: 20px;
    width: 100px;
    display: inline-block;
}

.icon {
    background-size: 80px 80px;
    background-repeat:no-repeat;
    height: 80px;
    width: 80px;
    margin: 10px auto;
    line-height: 80px;
    font-size: 20pt;
    color: white;
    text-shadow: #000 0.1em 0.1em 0.2em;
    text-align: center;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.icon:hover{
    color: #C5F7F0;
    font-size: 30pt;
}

.achievement_icon_1 {
    background-image: url("../images/progress_icon_1.png");
}

.achievement_icon_2 {
    background-image: url("../images/progress_icon_2.png");
}

.achievement_icon_3 {
    background-image: url("../images/progress_icon_3.png");
}

.achievement_icon_4 {
    background-image: url("../images/progress_icon_4.png");
}

.achievement_icon_5 {
    background-image: url("../images/progress_icon_5.png");
}

.achievement_label {
    margin: auto;
    width: 100px;
    text-align:center;
}

/* end progress achievements section */

/* start progress statistics section */

#miq_chart{
    margin: 60px 100px 60px 20px;
}

#miq {
    font-size: 20pt;
    margin: 0;
    color: #8E8CA3;
    background-color: #C5F7F0;
    color: white;
    text-shadow: #444 0.1em 0.1em 0.3em;
    padding: 5px 15px;
    display: inline-block;
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: #A9C2C9;
}

#ex_scores{
    margin: 30px 0;
}

#score_labels{
    text-align: right;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.score_label {
    color: #8E8CA3;
    color: #555;
    height: 60px;
    line-height: 60px;
    font-size: 14pt;
}

#score_bars{
    display: inline-block;
    width: calc(95% - 260px);
    vertical-align: top;
}

.score_bar_container{
    height: 32px;
    margin: 15px 20px 28px 20px;
    border: 1px solid #562155;
}

.score_bar{
    width: 0;
    height: 30px;
    text-align: center;
    color: white;
    text-shadow: #000 0em 0em 0.6em;
    line-height: 28px;
    font-size: 15pt;
}

#score_bar_1{
    background-color: #C5F7F0;
}

#score_bar_2{
    background-color: #A9C2C9;
}

#score_bar_3{
    background-color: #8E8CA3;
}

#score_bar_4{
    background-color: #72577C;
}

#songs_title{
    display:inline-block;
    vertical-align: top;
}

/* end progress statistics section */

/* start progress songs section css */

#progress_search{
    display:inline-block;
    width: calc(100% - 160px);
    vertical-align: top;
}

#progress_search > #search-text{
    width: calc(100% - 40px);
}

#sort_button{
    background-color: #A9C2C9;
    color: white;
    font-size: 12pt;
}

#songs_list_container{
    margin: 40px 20px 20px 20px;
}

#songs_list{
    list-style-type: none;
    padding:0;
}

#song_list_labels{
    width:100%;
    background-color: #8E8CA3;
    color: white;
    padding:5px 10px;
    font-weight:bold;
    padding-right:26px;
}

#song_list_labels > span{
    display: inline-block;
    width:24%;
    text-align:center;
}

#songs_list{
    overflow-y:scroll;
    max-height:200px;
}

#songs_list > li {
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#songs_list > li:nth-child(even){
    background-color: #f8f8f8;
}

#songs_list > li:hover{
    background-color: #ccc;
}

#songs_list > li > span{
    display: inline-block;
    width:24%;
    text-align:center;
}

/* end progress song section css */


/* start modal css */

.audiojs{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.play-pause{
    width: 35px !important;
}

.scrubber{
    width: calc(100% - 170px) !important;
}

.modal-dialog {
    width: 90% !important;
}
#song_chart{
    width: 90%;
    margin: 40px auto;
}

#song_line{
    height: 358px;
    width: 2px;
    position:absolute;
    background-color: black;
    top: 45px;
    display: none;
}

em{
    font-style: normal;
    font-weight: bold;
    color: #A9C2C9;
}

.green{
    color: #8AE876;
}

.red{
    color: #FA808C;
}

#song_results h1, .modal-title{
    font-size: 20pt;
    margin: 0 10px 10px 10px;
    color: #8E8CA3;
}

#comments_list{
    font-size: 14pt;
    list-style-type: square;
}

#comments_section{
    float:left;
    margin-left: 40px;
    vertical-align: top;
}

#buttons_section a:hover{
    text-decoration: none;
}

#buttons_section{
    float: right;
    vertical-align: top;
    padding: 20px;
    margin-right: 50px;
}

#buttons_section button{
    display:block;
    width: 200px;
    height: 50px;
    background-color: #C5F7F0;
    border-radius: 2px;
    color: #72577C;
    font-size: 15pt;
    outline: 0;
    border: 0;
    margin: 15px;
    transition:background-color 0.3s ease;
}

#buttons_section button:hover{
    background-color: #B1DED8;
}

#comments_container{
    height: 180px;
}

/* end modal css */